.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 12px;
}

.menu {
  margin: 20px;
  background-color: lightgray;
  border-bottom: 1px solid lightgray;
}

.navbar_logo i {
  color: black;
  padding-left: 0;
}

.navbar_login {
}

a {
  text-decoration: none;
  color: black;
}

.navbar_menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 30px;
}
